@font-face {
    font-family: 'INVADER';
    font-style: normal;
    font-weight: normal;
    src: local('INVADER'), url('../font/INVADER.woff') format('woff');
}

body {
    background-color: #000;
    font-family: 'INVADER', 'Arial', sans-serif;
}

a {
    text-decoration: none;
    color: #fff;
    font-size: 6em;
}

a:hover {
    text-decoration: underline;
    color: #a0a0a0;
}

#label {
    position: fixed;
    left: 0;
    top: 100px;
    width: auto;
    padding: 28px 40px 20px 30px;
    color: #000;
    margin-left: -1000px;
    transition: margin-left 420ms ease-in-out;
}

#label.visible {
    margin-left: 0;
}

#label.error {
    background: red !important;
}

#label:not(.error) #error-box {
    display: none;
}

#label.error #temperature-value {
    white-space: nowrap;
}

#label.error > .label-box,
#label.error > #location-value {
    display: none;
}

#label > .label-box {
    display: inline;
}

#label > .label-box > img {
    max-height: 100px;
}

#label > .label-box > .label-holder,
#label > #error-box {
    font-size: 6em;
}

#label > .label-box > .label-holder > .label-unit {
    font-size: .5em;
}

#location-value {
    position: relative;
    top: -40px;
    color: #fff;
    font-size: 2em;
    left: 16px;
    width: auto;
    text-align: right;
    display: block;
    line-height: 0;
}

#temperature-value {
    margin-left: -6px;
}

#wind-icon {
    transform: rotate(-45deg);
}

#wind-value {
    margin-left: -15px;
}

#humidity-value {
    margin-left: -13px;
}

#error-details {
    font-size: .5em;
}

/* CSS gradient background */
#label {
    background: linear-gradient(270deg, #ff00df, #00dbff, #89ff00);
    background-size: 600% 600%;

    -webkit-animation: AnimationName 14s ease infinite;
    -moz-animation: AnimationName 14s ease infinite;
    animation: AnimationName 14s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}